<!DOCTYPE html>
{% load static %} <!-- Для подключения папки static -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--Получается название статической папки 'путь к файлу от static' -->
    <link type="text/css" href="{%static 'study/css/styles.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{%static 'study/images/ico.ico' %}" type="image/x-icon"/>
</head>
<body>
<!--<h1><a href="{%url 'study:index' %}">На главную</a></h1>-->
<p>
    <a href = "{%url 'study:index' %}">
        <img src="{%static 'study/images/N7.png'%}" width = 60 height = auto>
    </a>
</p>

{%block content%}

{% endblock %}

{% block mainmenu %}
<table class="for_buttons">
    {% for m in menu %}
    <!--<p><a href="{% url m.url_name%}">{{m.title}}</a></p>-->

    <tr>
        <td>
            <form action="{% url m.url_name%}">
          <button class="button_menu" type="submit"><b>{{m.title}}</b></button>
        </form>
        </td>

    </tr>

    {% endfor %}
</table>
{% endblock mainmenu %}

<tr><td valign="top">
    <div id="footer">
        <p>© 2021 Полное или частичное копирование и дальнейшее распространение всех материалов сайта не запрещено
            и даже приветствуется</p>
    </div>
</td></tr>
</body>
</html>