{% extends 'study/base.html' %}
{% block content %}
<!--<h1>{{title}}</h1>-->
<!--<h2><a href="{%url 'study:groups' %}">К списку групп</a></h2>-->
<form class="forBtn" action="{% url 'study:groups'%}">
          <button class="button_main" type="submit"><b>К списку групп</b></button>
</form>
<table>
     <tr>
       <th></th>
{% for h in headers %}
         <th>{{h}}</th>
{% endfor %}
     </tr>
{% for p in progress %}
    <tr>
        <th>{{p.surname}}</th>
        {% for w in p.table %}
            {% if w.status == 'Правки' %}
                    <td bgcolor="Red">{{w.status}}</td>
            {% elif w.status == 'Проверка' %}
                <td bgcolor="Yellow">{{w.status}}</td>
            {% elif w.status == 'Сдано' %}
                   <td bgcolor="Green">{{w.status}}</td>
            {%else%}
            <td >{{w.status}}</td>
            {%endif%}
        {% endfor %}
    </tr>
{% endfor %}
</table>

{% endblock %}